@using System.Collections.Generic
@using API.BioFitAdvisor.Domain
@model IEnumerable<API.BioFitAdvisor.Domain.Routine>
@{
    ViewData["Title"] = "Rutinas";
}

<h4 class="title-master">@ViewData["Title"]</h4>

<div class="container-section">
    <div class="table-responsive">
        <table id="RoutineTable" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Fecha de Inicio</th>
                    <th>Fecha de Fin</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var routine in Model)
                {
                    <tr>
                        <td>@routine.Name</td>
                        <td>@routine.Description</td>
                        <td>@routine.StartDate.ToString("yyyy-MM-dd")</td>
                        <td>@routine.EndDate.ToString("yyyy-MM-dd")</td>
                        <td>
                            <a asp-action="Details" asp-route-id="@routine.RoutineId" class="btn btn-info">Detalles</a>
                            <a asp-action="CreateOrEdit" asp-route-id="@routine.RoutineId" class="btn btn-warning">Editar</a>
                            <a asp-action="Delete" asp-route-id="@routine.RoutineId" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            $('#RoutineTable').DataTable();
        });
    </script>
}
