@using System.Collections.Generic
@using API.BioFitAdvisor.Domain
@model API.BioFitAdvisor.Domain.ExerciseLibrary

@{
    ViewData["Title"] = "Eliminar Ejercicio";
}

<h4 class="header-view">@ViewData["Title"]</h4>

<div class="container-section">
    <h3>¿Estás seguro que deseas eliminar a este usuario?</h3>

    <div>
        <h4>Ejercicio</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">Nombre</dt>
            <dd class="col-sm-10">@Model.ExerciseName</dd>

            <dt class="col-sm-2">Descripción</dt>
            <dd class="col-sm-10">@Model.Description</dd>

            <dt class="col-sm-2">Categoría</dt>
            <dd class="col-sm-10">@Model.Category</dd>

            <dt class="col-sm-2">URL del Video</dt>
            <dd class="col-sm-10"><a href="@Model.VideoUrl" target="_blank">@Model.VideoUrl</a></dd>
        </dl>
    </div>

    <form asp-action="DeleteConfirmed" method="post">
        <input type="hidden" asp-for="ExerciseId" />
        <div class="d-flex justify-content-between">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>